.ship-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; /* Adjust the width based on the number of squares the ship spans */
    height: 50px;
    background-image: url('Ships/carrier_horizontal.png');
    background-size: cover;
    pointer-events: none; /* Allows clicks to pass through the overlay to the square */
    z-index: 0;
}