:root {
    --text: #1AFF1A;
    --background: #000;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

#vs-phase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-btn {
    display: block;
}

#median-screen {
    display: none;
}

#pass-ready-btn {
    width: 100px;
    height: 100px;
}

#game-phase {
    display: none;
}

#info-text {
    margin-bottom: 10px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--text);
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
}

#upper-player-container {
    display: grid;
    grid-gap: .5px;
    grid-template-columns: repeat(11, 30.6px);
    grid-template-rows: repeat(11, 30.6px);
    width: 342px;
    height: 342px;
    background-image: url(oceangrid_final.png);
    box-shadow: 0px 0px 20px var(--text);
    margin-bottom: 10px;
}

#lower-player-container {
    box-shadow: 0px 0px 20px var(--text);
}

.square {
    /* border: 1px solid red; */
    position: relative;
    z-index: 2;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.11);
    background-image: url(Tokens/select_token.png);
}

.attack-square {
    position: relative;
}

.attack-square:hover {
    background-color: rgba(255, 255, 255, 0.11);
    background-image: url(Tokens/aim_token.png);
}

.lower-display-square {
    position: relative;
}

.hit {
    background-image: url(Tokens/hit_token.png);
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
}

.miss {
    background-image: url(Tokens/miss_token.png);
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
}

#battle-phase {
    display: none;
    margin-bottom: 10px;
}

#ships {
    display: flex;
    flex-direction: row;
}

.select-ship {
    margin-left: 5px;
    margin-right: 5px;
}

.select-ship:hover {
    background-color: rgba(255, 255, 255, 0.486);
    border: 1px solid green;
}

#choosing-phase {
    display: flex;
    flex-direction: column;
}

#stats {
    margin-top: 10px;
}